/* Styles for the UniversityList React component */

.university-list {
  margin-top: 245px;
  width: 650px;
  margin-bottom: 20px;
}

.university-list-empty {
  margin-top: 15px;
  text-align: center;
  border-radius: 8px;
}
