/* Styles for the Main/UniversityProgram React component */

.university-program {
  margin: 0;
  margin-bottom: 3%;
  margin-top: 3%;
}

.university-program-title {
  margin: 0;
	font-weight: lighter;
}

.university-program-average {
  margin: 0;
  margin-left: 3%;
  color: var(--lightgray);
}
