/* Styles for the Main React component */

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.main-background {
  position: fixed;
  width: calc(100% - 2.5vw);
  height: 100%;
  left: 1.25vw;
  top: 0px;
  background-color: var(--lightpink);
}
