/* Styles for the UniversityList React component */

.university-list {
  margin-top: 245px;
  width: 650px;
  margin-bottom: 20px;
}

.university-list-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
    background-color: var(--blue);
    border-radius: 8px;
    height: 40px;

    color: white;
    text-align: center;
    overflow: hidden;
}
