/* Styles for the Header React component */

.header {
  text-align: center;
  color: #3A4664;
}

.header-title {
    position: absolute;
    width: 417px;
    height: 56px;
    left: 511px;
    top: 93px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #3A4664;
}

h1 {
  margin: 0px;
  margin-top: 70px;
}

h2 {
  margin: 0px;
  margin-top: 20px;
  font-size: 1em;
}

h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: .8em;
}
