.popup-img {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 4px;

}

.popup-hdr {
    color: #FFDBDC;
}

.popup-div {
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px; 
    background: #3A4664;
    height: 85vh;
    width: 40vw;
    align: center;
    border-radius: 3%;
    position: relative;

}
