/* Styles for the Main/MySchoolsList React component */

.my-schools-list {
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translate(200%, 0);
  width: 180px;

  background-color: var(--blue);
  border-radius: 8px;
	color: #EFE4FF;
}

.my-schools-list-title {
	margin: 0px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 22px;

	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 120%;
	text-align: left;
}

ul {
	margin: 0px;
	margin-top: 8px;
  list-style-type: none;
}

.my-schools-list-school {
	font-size: 11px;
	text-align: right;
	margin-right: 30px;
	margin-top: -12px;
}

.my-schools-list-delete-button-container {
	position: relative;
	top: -15px;
	right: -17px;
}

.my-schools-list-delete-button {
}

.my-schools-list-delete-button .MuiIconButton-label {
	color: #EFE4FF !important;
	font-size: 11px;
}
