:root {
  --pink: #FFDBDC;
  --lightpink: #FFECEC;
  --darkpink: #FFBBBD;
  --blue: #3A4664;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.full {
  width: 100%;
}

.threequarters {
  width: 75%
}

.half {
  width: 50%;
}

.fourtyfive {
  width: 45%;
}
