#sloganTextSection {
    text-align: center;
    position: relative;
    margin-top: 5vh;
}

.sloganText {
    color: #3A4664;
    display: block;
    font-size: 1.5vw;
}

#titleText{
    color: #3A4664;
    display: block;
    margin-top: 3vh;
    font-size: 3vw;
    font-family:'Impact';
}

#signInButton {
    margin-top: 2vh;
    margin-bottom: 5vh;
    height: 4vh;
    width: 10vw;
    font-size: 1vw;
    color: #3A4664;
    background-color: #ffffff;
    border-color: #3A4664;
    border-radius: 8px;
}

#signInButton:hover {
    background-color: #ffc8d3;
}

#logoImage {
    position: absolute;
    height:7vh;
    width:3.5vw;
}
