:root {
    --pink: #FFDBDC;
    --lightpink: #FFECEC;
    --darkpink: #FFBBBD;
    --blue: #3A4664;
  }


#bodySection {
    text-align: center;
    position: relative;
    height: 55vh;
    overflow: hidden;
}

#mainImage {
    height:45vh;
    width:25vw;
    position: absolute;
    left: 60vw;
    margin-top: 2vh;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

.welcomeTextBlock {
    margin-bottom: 20vh;
    margin-left: 18vh;
    padding-top: 1vh;
    padding-right: 0.5vw;
    width: 26vw;
    height: 10vh;
    border-radius: 8px;
    background-color:var(--blue);
}


.welcomeTextBlock2 {
    margin-top: 3vh;
    margin-left: 28vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    padding-top: 1vh;
    padding-right: 0.5vw;
    width: 26vw;
    height: 10vh;
    border-radius: 8px;
    background-color:var(--blue);
}

.welcomeTextHeading {
    color: white;
    margin-left: 15%;
    font-size: 1.5vmax;
    display: block;
}

.welcomeText{
    color: white;
    padding-left: 10%;
    display: block;
    font-size: 0.75vw;
    text-indent: -5%;
}

