:root {
    --pink: #FFDBDC;
    --lightpink: #FFECEC;
    --darkpink: #FFBBBD;
    --blue: #3A4664;
  }


#bodySection {
    margin-top: 10vh;
}

#mainImage {
    height:50vh;
    width:23vw;
    position: absolute;
    bottom: 12vh;
    left: 60vw;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

#mainImage2 {
    height:30vh;
    width:13vw;
    position: absolute;
    bottom: 12vh;
    left:50vw;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

#mainImage3 {
    height:30vh;
    width:13vw;
    position: absolute;
    top: 20vh;
    left: 75vw;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

.welcomeTextBlock {
    margin-top: 20vh;
    margin-left: 18vh;
    padding-top: 1vh;
    width: 26vw;
    height: 10vh;
    border-radius: 8px;
    background-color:var(--blue);
}


.welcomeTextBlock2 {
    margin-top: 3vh;
    margin-left: 28vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    padding-top: 1vh;
    width: 26vw;
    height: 10vh;
    border-radius: 8px;
    background-color:var(--blue);
}

.welcomeTextHeading {
    color: white;
    margin-left: 15%;
    font-size: 1.5vmax;
    display: block;
}

.welcomeText{
    color: white;
    padding-left: 10%;
    display: block;
    font-size: 0.75vw;
    text-indent: -5%;
}

